@using Microsoft.AspNetCore.Identity


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            
            <h1 class="fw-bold mb-3">Welcome to IMS</h1>
           
            <p class="text-muted mb-5">
                Inventory Management System – Manage your stock with ease.
            </p>

            <img src="~/images/ims_logo.png" alt="Inventory Logo" class="img-fluid mb-4" style="max-height: 250px;" />

        </div>
    </div>
</div>
